{% extends "base.html" %}

{% block title %}Моя страница{% endblock %}

{% block css %}{% endblock %}

{% block content %}
    <h1>Добавить новое слово</h1>
    <form id="wordForm">
        <input type="text" name="word" placeholder="Слово (немецкий)" required>
        <input type="text" name="translation" placeholder="Перевод (русский)" required>
        <button type="submit">Добавить</button>
    </form>
    <div id="message" class="message" style="display: none;"></div>

    <h2>Последние добавленные слова</h2>
    <ul id="wordList"></ul>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/words/add.js') }}"></script>
{% endblock %}

